extends includes/theme
block globals
    - var body_id= "index"
    - var body_class= "theme-blue has-fixed-sidenav theme"
    - var page = "Inicio"
    - var meta_descript = "Inicio de la aplicación"

    