extends includes/theme

block globals
    - var title = "Bienvenido"
    - var body_id = "index"
    - var body_class= "theme-teal theme-admin has-fixed-sidenav"
    - var page = "Panel de Control"
    - var meta_descript = "Bienvenido"

block mainmenu
    +mainmenu('Recursos Naturales','Listado Formularios')
    //- - var extended = true

block main
  main
    .row
      .col.s12
        h2 #{page}
        .card.card-horizontal
          .card-content
            span.card-title Card Title 1
            .row
              div(class="input-field col s12 m6 l3")
                select
                  option(value="" disabled selected) Seleccione
                  option(value="1") Option 1
                  option(value="2") Option 2
                  option(value="3") Option 3
                label Programa Presupuestal
              div(class="input-field col s12 m6 l3")
                select
                  option(value="" disabled selected) Seleccione
                  option(value="1") Option 1
                  option(value="2") Option 2
                  option(value="3") Option 3
                label Producto
              div(class="input-field col s12 m6 l3")
                select
                  option(value="" disabled selected) Seleccione
                  option(value="1") Option 1
                  option(value="2") Option 2
                  option(value="3") Option 3
                label Actividad
              div(class="input-field col s12 m6 l3")
                select
                  option(value="" disabled selected) Seleccione
                  option(value="1") Option 1
                  option(value="2") Option 2
                  option(value="3") Option 3
                label Sub actividad
              div(class="input-field col s12 m6 l3")
                select
                  option(value="" disabled selected) Seleccione
                  option(value="1") Option 1
                  option(value="2") Option 2
                  option(value="3") Option 3
                label Departamento
              div(class="input-field col s12 m6 l3")
                select
                  option(value="" disabled selected) Seleccione
                  option(value="1") Option 1
                  option(value="2") Option 2
                  option(value="3") Option 3
                label Provincia
              div(class="input-field col s12 m6 l2")
                select
                  option(value="" disabled selected) Seleccione
                  option(value="1") Option 1
                  option(value="2") Option 2
                  option(value="3") Option 3
                label Unidad de Medida
              div(class="input-field col s12 m6 l2")
                select
                  option(value="" disabled selected) Seleccione
                  option(value="1") Option 1
                  option(value="2") Option 2
                  option(value="3") Option 3
                label Periodo
              div(class="input-field col s12 m6 l2")
                a(class="btn") Buscar

block append scripts
    script.
      const $ = require('jquery');

      $(document).ready(function(){
        $('select').formSelect();
      });




    