extends includes/theme

block globals
    - var title = "Listado Formularios"
    - var body_id = "index"
    - var body_class= "theme-teal theme-admin"
    - var page = "Panel de Control"
    - var meta_descript = "Listado Formularios"

block mainmenu
    +mainmenu('Recursos Naturales','Listado Formularios')
    //- - var extended = true

block content
  .row
    .col.s12
      .card.card-horizontal
        .card-header
          span.card-title Uso de alert
        .card-content
          div(class="card-panel") This is a card panel with a teal lighten-2 class
  .row
    .col.s12
      .card.card-horizontal
        .card-header
          span.card-title Card Title 1
          .row.no-margin-bottom
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Programa Presupuestal
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Producto
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Actividad
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Sub actividad
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Departamento
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Provincia
            div(class="input-field col s12 m6 l2")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Unidad de Medida
            div(class="input-field col s12 m6 l2")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Periodo
            div(class="input-field col s12 m6 l2")
              a(class="btn btn-light") 
                i.fas.fa-search
            div(class="input-field col s12 m6 l2")
              a(class="btn btn-link") Hola mundo
        
        //- .card-content
        .card-table
          table#default-table-example.striped
            thead
              tr
                th Index
                th Name
                th Position
                th Office
                th Age
                th Start date
                th Index
                th Name
                th Position
                th Office
                th Age
                th Start date
                th Office
                th Age
                th Start date
                
            tbody
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
              tr
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td Tiger Nixon
                td System Architect
                td Edinburgh
                td 61
                td 2011/04/25
                td $320,800
                td 61
                td 2011/04/25
                td $320,800
       

  div(class="fixed-action-btn")
      a(class="btn-floating btn-large secondary")
        i(class="far fa-edit")
      ul
        li
          a(class="btn-floating red")
            i(class="fas fa-archive")
        li
          a(class="btn-floating yellow darken-1")
            i(class="fas fa-bell")
        li
          a(class="btn-floating green")
            i(class="fas fa-book-open")
        li
          a(class="btn-floating blue")
            i(class="fas fa-bullhorn")
  
block append scripts
    script.
      const $ = require('jquery');
      
      getSpinner();
      
      $(document).ready(function(){
        $('select').formSelect();
        $('.fixed-action-btn').floatingActionButton();

        $('#default-table-example').DataTable({
          responsive: true,
          scrollY:        "50vh",
          scrollCollapse: true,
          drawCallback: function( settings ) {
            $('select[name="default-table-example_length"]').formSelect();
          },
          //dom: '<"header with-filter"fB>trlip',
          dom: '<"header"B>tr<"footer"l<"paging-info"ip>>',
           //dom: '<"row"<"col s12"t><"col s12"r>><"row dataTable-footer"f<"col s12 m4 l2"l><"col s12 m8 l6 center"i><"col s12 m12 l4"p>>',
          "language": {
            "url": "dist/scripts/datatables-es_ES.json"
          },
        });
      });




    