extends includes/theme

block globals
    - var title = "Listado Formularios"
    - var body_id = "index"
    - var body_class= "theme-teal theme-admin has-fixed-sidenav"
    - var page = "Panel de Control"
    - var meta_descript = "Listado Formularios"

block mainmenu
    +mainmenu('Recursos Naturales','Listado Formularios')
    //- - var extended = true

block content
  .row
    .col.s12
      .card.card-horizontal
        .card-header
          span.card-title Card Title 1
          .row.no-margin-bottom
            div(class="input-field col s12 m6 l3")
              select#selectID
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Programa Presupuestal
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Producto
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Actividad
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Sub actividad
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Departamento
            div(class="input-field col s12 m6 l3")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Provincia
            div(class="input-field col s12 m6 l2")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Unidad de Medida
            div(class="input-field col s12 m6 l2")
              select
                option(value="" disabled selected) Seleccione
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Periodo
            div(class="input-field col s12 m6 l2")
              a(class="btn btn-light") 
                i.fas.fa-search
        
        //- .card-content
        .card-table
          .chart__table
       
block append scripts
    script.
      const $ = require('jquery');
      const SimpleBar = require('simplebar');

      $(".chart__table").html(`
        <table id="starwars" class="dt-responsive" cellspacing="0" width="100%">
          <thead class="thead-dark">
            <tr>
              <th>Planeta</th>
              <th>Diametro</th>
              <th>Población</th>
              <th data-priority="1">Acciones</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      `);
      

      //- setTimeout(getSpinner('Esperando data...'), 300);
      
      $(document).ready(function(){
        var instances = M.FormSelect.init($("select"));
        //- setTimeout(deleteSpinner, 3000);
        //- $('select').formSelect();
        var tables = $('#starwars').DataTable({
          responsive: true,
          scrollY:        "50vh",
          scrollCollapse: true,
          drawCallback: function( settings ) {
            $(".dataTables_scrollBody").attr("data-simplebar", "");
            $('select[name="default-table-example_length"]').formSelect();
          },
          dom: '<"header"B>tr<"footer"l<"paging-info"ip>>',
          buttons: [
            { extend: 'copy', text: '<i class="fas fa-copy"></i> Copiar' },
            { extend: 'csv', text: '<i class="fas fa-file-excel"></i> CSV' },
            { extend: 'excelHtml5', text: '<i class="fas fa-file-excel"></i> Excel' },
            { extend: 'pdf', text: '<i class="fas fa-file-pdf"></i> PDF' },
            { extend: 'print', text: '<i class="fas fa-print"></i> Imprimir' }
          ],
          "language": {
            "url": "dist/scripts/datatables-es_ES.json"
          },
        });

        $.ajax({
          url: "https://swapi.co/api/planets/",
          dataType: "json",
          beforeSend: function() {
            getSpinner('Esperando data...');
          },
          complete: function() {
            deleteSpinner();
          },
          success: function( data ) {
            let arr = data.results;

            console.log(data.results);

            for(var i = 0; i < arr.length; i++ ){
              tables.row.add( [
                arr[i].name,
                arr[i].diameter,
                arr[i].population,
                `<nav class="nav-actions">
                  <a class="waves-effect waves-light btn btn-link nav-action-link success" href="#">
                    <i class="fas fa-fw fa-plus"></i>
                  </a>
                  <a class="waves-effect waves-light btn btn-link nav-action-link" href="#">
                    <i class="fas fa-fw fa-edit"></i>
                  </a>
                  <a class="waves-effect waves-light btn btn-link nav-action-link" href="#">
                    <i class="fas fa-fw fa-file-word"></i>
                  </a>
                  <a class="waves-effect waves-light btn btn-link nav-action-link" href="#">
                    <i class="fas fa-fw fa-eye"></i>
                  </a>
                  <a class="waves-effect waves-light btn btn-link nav-action-link" href="#">
                    <i class="fas fa-fw fa-external-link-alt"></i>
                  </a>
                  <a class="waves-effect waves-light btn btn-link nav-action-link danger" href="#">
                    <i class="fas fa-fw fa-trash-alt"></i>
                  </a>
                </nav>`
              ] ).draw( false );
            }
          }
        });
      });




    