.modal {
  width: 90%;

  @media #{$medium-and-down} {
    width: 85%;
   }

  .modal-header {
    padding: 16px 24px;
    
    h4 {
      font-size: 24px;
      padding: 0;
      margin: 0;
    }
  }

  &.modal-fixed-header.modal-fixed-footer {
    .modal-content {
      top: 60px;
      bottom: 56px;
      height: calc(100% - 116px);
    }
  }

  // &.modal-fixed-header,
  // &.modal-fixed-footer {
  //   min-height: 20%;
  //   max-height: 70%;
  //   height: auto;
  // }

  &.modal-fixed-header {
    overflow: hidden;
    padding: 0;
    height: 70%;

    .modal-header {
      z-index: 1004;
      height: 60px;
    }

    .modal-content {
      top: 60px;
      bottom: 0;
      position: absolute;
      max-height: 100%;
      width: 100%;
      overflow-y: auto;
    }
  }

  &.modal-fixed-footer {
    .modal-footer {
      z-index: 1004;
    }
  }
}

.modal.modal-fixed-header .modal-header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
  border-radius: 0 0 2px 2px;
  width: 100%;
}
