.sidenav{
  li {
    width: 100%;

    > a {
      padding: 0 16px;
    }
  }

  &.sidenav-fixed {
    left: 0;
    transform: translateX(0);
    position: fixed;

    .collapsible {
      border: none;
      box-shadow: none;
    }
  }
}
