html {
  height: 100%;
}

.theme-admin {
  background-color: #F4F4F4;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  header {
    display: block;
  }

  .sidenav {
    // transition: all 0.3s ease;

    .logo-container {
      padding: 0 16px;
      height: 64px;
      line-height: 64px;
      font-size: 24px;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      box-sizing: content-box;

      flex-direction: row;
      justify-content: flex-start;

      svg {
        width: 100%;
      }
    }

    li.bold {
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    li.bold > a {
      @include font-family('Ubuntu', '');
      
      font-weight: 700;
      text-transform: uppercase;
    }
    // li.active a,
    // li:hover a {
    //   background-color: transparent;
    // }

    .collapsible > li {
      transition: background-color 0.2s;
    }

    // .collapsible-header {
      
    // }

    .collapsible-body {
      @include font-family('Ubuntu');

      padding-bottom: 0;
      background-color: transparent;

      li > a {
        padding: 0 16px;
        transition: background-color 0.2s ease-out;

        &.active,
        &:hover {
          background-color: rgba(0,0,0,0.07);
        }
      }
    }
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    background-color: #ffffff;
    color: #666666;

    a {
      color: #999999;
    }

    h5 {
      color: #444444;
    }
  }

  main > .container,
  footer > .container {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 0 10px;
  }

  .card {
    .card-title {
      @include font-family('Ubuntu');

      font-size: 14px;
    }
  }

  @media (min-width: 992px) {
    &.has-fixed-sidenav {
      > header,
      > main, 
      > footer {
        padding-left: 60px;
      }

        .sidenav {
          transform: translateX(0) !important;
          transition: width 0.1s ease-in;
          width: 60px;
          text-align: center;

          .bold {
            .collapsible-header {
              display: block;
            }
          }
          
          span {
            transition: display 0.2s ease-in-out;
            display: none;
          }

          &:hover {
            width: 300px;
            text-align: left;

            span {
              display: inline-block;
            }
          }
        }
    }
  }

  @media (min-width: 1700px) {
    &.has-fixed-sidenav {
      > header,
      > main, 
      > footer {
        padding-left: 300px;
      }

        .sidenav {
          width: 300px;
          text-align: left;

          span {
            display: inline-block;
          }
        }
    }
  }
  
  // @media #{$medium-and-down} {
  //   &.sidebar-collapse.has-fixed-sidenav {
  //     .sidenav {
  //       transform: translateX(-105%);
  //     }
  //   }
  // }
  
  // @media #{$large-and-up} {
  //   &.sidebar-collapse.has-fixed-sidenav {
  //     padding-left: 0;
  
  //     .navbar-fixed {
  //       nav {
  //         width: 100%;
  //         left: 0;
  //       }
  //     }

  //     .sidenav {
  //       transform: translateX(-105%) !important;
  //     }
  //   }
  // }
}
