html {
  height: 100%;
}

.theme-admin {
  background-color: #F4F4F4;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .sidenav.sidenav-fixed {
    left:0;
    // transform:translateX(-105%) !important;
    position:fixed;
  }

  header {
    display: block;
  }

  .sidenav {
    transition: all 0.3s ease;

    .logo-container {
      padding: 0 16px;
      height: 64px;
      line-height: 64px;
      font-size: 24px;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      box-sizing: content-box;
    }

    li.bold > a {
      @include font-family('ubuntu', 'bold');
      
      text-transform: uppercase;
    }
    li.active a,
    li:hover a {
      background-color: transparent;
    }

    .collapsible > li {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      transition: background-color .2s;
    }

    // .collapsible-header {
      
    // }

    .collapsible-body {
      @include font-family('ubuntu');

      padding-bottom: 16px;
      background-color: transparent;

      li > a {
        padding: 0 16px;
        transition: background-color .2s ease-out;

        &.active,
        &:hover {
          background-color: rgba(0,0,0,0.07);
        }
      }
    }
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    background-color: #ffffff;
    color: #666666;

    a {
      color: #999999;
    }

    h5 {
      color: #444444;
    }
  }

  main > .container,
  footer > .container {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
  }

  .card {
    .card-title {
      @include font-family('ubuntu', 'medium');

      font-size: 16px;
    }
  }

  @media #{$large-and-up} {
    &.sidebar-expand {
        padding-left: 300px;
        // transform: translateX(0) !important;
    }
  }
  
  @media #{$medium-and-down} {
    &.sidebar-collapse {
      .sidenav {
        // transform: translateX(-105%);
      }
    }
  }
  
  @media #{$large-and-up} {
    &.sidebar-collapse {
      padding-left: 0;
  
      .navbar-fixed {
        nav {
          width: 100%;
          left: 0;
        }
      }

      .sidenav {
        // transform: translateX(-105%) !important;
      }
    }
  }
}
