//
// Fonts
//
// @font-face {
//     font-family: 'vigaregular';
//     src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Viga-Regular.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Viga-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ubuntulight';
//     src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Light.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Light.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ubunturegular';
//     src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Regular.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ubuntumedium';
//     src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Medium.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Medium.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ubuntubold';
//     src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Bold.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ubuntumono';
//     src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Mono.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Mono.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'libre_franklinlight';
//     src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Libre_Franklin-Light.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Libre_Franklin-Light.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700|Ubuntu');

html{
  @media only screen and (min-width: 0) {
    font-size: 13px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 13px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 13px;
  }
}

body {
  @include font-family();
}

pre {
  background-color: #fafafa;
  border: 1px solid #dee2e6;
  padding: 2rem;
  color: #495057;
  margin-top: 2rem;
  margin-bottom: 2rem;
  white-space: pre-wrap;
  word-wrap: break-word;

  code {
    color: inherit;
    word-break: normal;
  }

  &:hover {
    background-color: #fff;
    color: #212529;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-family('ubuntu',
    '');
}

.flex {
  display: flex;
  align-items: center;

  &-evenly {
    justify-content: space-evenly;
  }

  &-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }
}

.h-100 {
  height: 100vh;
}

.logo-container {
  display: flex !important;
  align-items: center;
}

.collapsible-header {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  position: relative;

  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    transition: all 0.3s ease-in;
  }
}

.active {
  .collapsible-header::after {
    transform: rotate(180deg);
  }
}

.collapsible-accordion {
  position: relative;

  .collapsible-header::after {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
}

.sidenav {
  .bold {
    .collapsible-header {
      display: flex;
      align-items: center;
      justify-content: start;
  
      // &::after {
      //   display: inline-block;
      //   width: 0;
      //   height: 0;
      //   margin-left: .255em;
      //   vertical-align: .255em;
      //   content: "";
      //   border-top: .3em solid;
      //   border-right: .3em solid transparent;
      //   border-bottom: 0;
      //   border-left: .3em solid transparent;
      //   transition: all 0.3s ease-in;
      // }
    }

    // &.active {
    //   .collapsible-header::after {
    //     transform: rotate(180deg);
    //   }
    // }
  }

  // .collapsible-body {
  //   span {
  //     padding-left: 0.5rem;
  //   }
  // }

  .bold {
    .collapsible-header svg {
      transition: all 0.3s ease-in;
    }

    // &.active {
    //   .collapsible-header svg {
    //     transform: rotate(180deg);
    //   }
    // }
  }
}

// input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
//   font-size: 13px;
// }

.hiddendiv.common {
  display: none;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 13px;
}

.input-field label:not(.active) {
  top: -7px;
}
.select-wrapper + label {
  top: -26px !important;
}

.btn-icon-left {
  svg {
    margin-right: 0.5rem;
  }
}

.btn-icon-right {
  svg {
    margin-left: 0.5rem;
  }
}

.btn-block {
  display: block;
}

.btn-light {
  background-color: rgba(158,158,158,.2);
  color: rgba(0,0,0,.9);

  &:hover, 
  &:focus {
    background-color: rgba(158,158,158,.4);
    color: rgba(0,0,0,.95);
  }
}

.btn-link {
  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: rgba(158,158,158,.2);
    box-shadow: none;
  }
}


table nav {
  background-color: transparent;
  box-shadow: none;

  a {
    color: rgba(0,0,0,65);
  }
}

.nav-actions {
  height: 100%;
  line-height: 100%;

  a {
    padding: 0.5rem;

    &.danger {
      color: red;
    }
  }
}

.collapsible-body {
  padding: 1.5rem;

  .card {
    margin-top: 0;
  }
}

.card-header {
  padding: 0.75rem;
  border-radius: 0 0 2px 2px;
  background-color: rgba(0,0,0,0.015);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.card-content {
  padding: 0.75rem !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.btn-floating {
  &.btn-large  {
    line-height: 56px;
  }
}

.spinner {
  transition: all 0.2s ease;
}

.with-spinner {
  overflow: hidden;

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10000;
    opacity: 1;
    
    .fa-spin {
      position: relative;
      z-index: 1;
      font-size: 36px;
    }
  
    span {
      font-size: 13px;
      margin-top: 1rem;
    }
  
    &::before {
      content: "";
      position: absolute;
      width : 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(255,255,255,0.75);
    }
  }
  

  header,
  main, 
  footer {
    filter: blur(3px);
  }
}

.without-spinner {
  .spinner {
    opacity: 0;
  }
}

.profile-trigger {
  display: flex;
  align-items: center;
  height: 64px;

  @media #{$small-and-down} {
    // styles for small screens and down
    height: 56px;
  }

  picture {
    height: 32px;
    line-height: 32px;
    padding-right: 0.5rem;

    img {
      border-radius: 500rem;
    }
  }

  span {
    @media #{$small-and-down} {
      // styles for small screens and down
      display: none;
    }
  }

  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5rem;
    vertical-align: 0.5rem;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}

//
// Logo
//
@keyframes dash {
  0% {
    stroke-dashoffset: 500;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 500;
  }
}

@keyframes growth1 {
  0% {
    height: 46px;
  }
  50% {
    height: 24px;
  }
  100% {
    height: 46px;
  }
}

@keyframes growth2 {
  0% {
    height: 28.9px;
  }
  50% {
    height: 36px;
  }
  100% {
    height: 28.9px;
  }
}

@keyframes growth3 {
  0% {
    height: 18.1px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 18.1px;
  }
}

#logo {
  #isologo {
    rect {
      transition: height 0.5s ease-in;
    }

    #barra {
      rect {
        fill: #F0B405;
      }
    }

    #trazo {
      fill: none;
      stroke: #EBEBEB;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      animation: dash 4s linear alternate infinite;
    }
    
    .barraTop {
      height: 46px;
    }

    .barraMiddle {
      height: 28.9px;
    }

    .barraBottom {
      height: 18.1px;
    }
  }

  &:hover {
    #isologo {
      .barraTop {
        height: 24px;
        animation: growth1 3s infinite linear;
      }

      .barraMiddle {
        height: 36px;
        animation: growth2 3s infinite linear;
      }

      .barraBottom {
        height: 30px;
        animation: growth3 3s infinite linear;
      }

      #trazo {
        animation: dash 5s linear alternate infinite;
      }
    }
  }

  &.logo-color {
    #text {
      path {
        fill: #FFFFFF;
      }
    }
  }

  &.logo-gray {
    #text {
      path {
        fill: #cccccc;
      }
    }

    #isologo {
      #barra {
        rect {
          fill: #999999;
        }
      }

      #trazo {
        fill: none;
        stroke: #ffffff;
        stroke-width: 2;
        stroke-miterlimit: 10;
      }
    }
  }
}

//
// Header
//
header {
  .brand-logo {
    position: relative;
    left: 0;
    transform: translateX(0);
  }
}
