//
// Fonts
//
@font-face {
    font-family: 'vigaregular';
    src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Viga-Regular.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Viga-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Light.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Regular.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Medium.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Bold.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumono';
    src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Mono.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Ubuntu-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'libre_franklinlight';
    src: url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Libre_Franklin-Light.woff2') format('woff2'), url('#{$cdn-prefix}#{$cdn-dist-path}/fonts/Libre_Franklin-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
  @media only screen and (min-width: 0) {
    font-size: 13px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 13px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 13px;
  }
}

body {
  @include font-family();
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-family('ubuntu',
    'light');
}

.sidenav {
  .bold {
    .collapsible-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
        transition: all 0.3s ease-in;
      }
    }

    &.active {
      .collapsible-header::after {
        transform: rotate(180deg);
      }
    }
  }

  .collapsible-body {
    span {
      padding-left: 1rem;
    }
  }

  .bold {
    .collapsible-header svg {
      transition: all 0.3s ease-in;
    }

    &.active {
      .collapsible-header svg {
        transform: rotate(180deg);
      }
    }
  }
}

// input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
//   font-size: 13px;
// }

.hiddendiv.common {
  display: none;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 13px;
}

.input-field label:not(.active) {
  top: -7px;
}
.select-wrapper + label {
  top: -26px !important;
}

.btn-light {
  background-color: rgba(158,158,158,.2);
  color: rgba(0,0,0,.9);

  &:hover {
    background-color: rgba(158,158,158,.4);
    color: rgba(0,0,0,.95);
  }
}

.btn-link {
  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: rgba(158,158,158,.2);
    box-shadow: none;
  }
}


table nav {
  background-color: transparent;
  box-shadow: none;

  a {
    color: rgba(0,0,0,65);
  }
}

.nav-actions {
  height: 100%;
  line-height: 100%;

  a {
    padding: 0.5rem;

    &.danger {
      color: red;
    }
  }
}

.card-header {
  padding: 24px;
  border-radius: 0 0 2px 2px;
  background-color: rgba(0,0,0,0.015);
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.btn-floating {
  &.btn-large  {
    line-height: 56px;
  }
}

.spinner {
  transition: all 0.2s ease;
}

.with-spinner {
  overflow: hidden;

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10000;
    opacity: 1;
    
    .fa-spin {
      position: relative;
      z-index: 1;
      font-size: 36px;
    }
  
    span {
      font-size: 13px;
      margin-top: 1rem;
    }
  
    &::before {
      content: "";
      position: absolute;
      width : 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(255,255,255,0.75);
    }
  }
  

  header,
  main, 
  footer {
    filter: blur(3px);
  }
}

.without-spinner {
  .spinner {
    opacity: 0;
  }
}