// Fuentes
@mixin text-render() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

@mixin font-family($font: 'libre_franklinlight', $variation: 'regular') {
  font-family: $font + $variation, sans-serif;
  @include text-render();
}
