// $cdn-prefix: "https://www.agrorural.gob.pe/cdn/?u=";
// $cdn-dist-path: "https://www.agrorural.gob.pe/cdn/apps-mdl/dist";
$cdn-dist-path: "/dist" !default;
$cdn-prefix: "" !default;

//
// Colors
//
$footer-bg-color: gray;
$gray-100: #f5f5f5;

$white: #FFFFFF;
$black: #000000;

// 1. Colors
// ==========================================================================

// $primary-color:#303F9F;
// $primary-color-light: lighten($primary-color, 15%);
// $primary-color-dark: darken($primary-color, 15%);
// $secondary-color: #FF4081;
// $link-color: $primary-color;

$input-height: 2.25rem;
$dropdown-item-height: 36px;
$input-font-size: 13px;

// 3. Buttons
// ==========================================================================

// Shared styles
$button-font-size: 13px;
$button-height: 30px;
$button-padding: 0 16px;


// Large buttons
// $button-large-font-size: $button-font-size + 1;
// $button-large-height: $button-height * 1.5;

// Small buttons
$button-small-font-size: $button-font-size - 1;
$button-small-height: $button-height * .9;


@mixin theme($name, $primary-color: $primary-color, $secondary-color: $secondary-color) {
  $primary: (
    "base": $primary-color
  );

  $secondary: (
    "base": $secondary-color
  );

  $colors: (
      "primary": $primary,
      "secondary": $secondary
  );

  $primary: map-get($colors, primary);
  $secondary: map-get($colors, secondary);
  $sidenav-bg-color: white;

  .#{$name} {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-animation: autofill-#{$name} 0s forwards;
      animation: autofill-#{$name} 0s forwards;
      // border-color: $primary !important;
    }
      
    @keyframes autofill-#{$name} {
      100% {
          background: transparent;
          color: inherit;
      }
    }
      
    @-webkit-keyframes autofill-#{$name} {
      100% {
          background: transparent;
          color: inherit;
      }
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
      svg {
        color: $primary-color;
      }
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child,
    table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child {
     svg {
       color: #f44336;
     } 
    }

    input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
      border-bottom: 1px solid $secondary-color;
      box-shadow: 0 1px 0 0 $secondary-color;
    }

    input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
      color: $secondary-color;
    }

    .page-header {
      color: $primary-color;
    }

    .modal-header {
      background-color: $primary-color;

      h4 {
        @include color-yiq($primary-color);
      }
    }

    /*.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
    .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
      background-color: $secondary-color;
    }*/

    &.theme-admin {
      .logo-container {
        background-color: $primary-color;
        
        &:hover {
          background-color: $primary-color !important;
        }
      }

      .btn-floating {
        &.secondary {
          @include color-yiq($secondary-color);
        }

        &.primary {
          @include color-yiq($primary-color);
        }
      }
      
      aside .fa-spin {
        color: $primary-color;
      }

      // .btn {
      //   svg {
      //     margin-right: 0.75rem;
      //   }
      // }

      .btn-link {
        color: $primary-color;
      }

      .card-panel {
        @include color-yiq($secondary-color);

        background-color: rgba($secondary-color, 0.25);
        border: 1px solid rgba($secondary-color, 0.3);
        box-shadow: none;
        padding: 12px 18px;
      }

      header nav ul.dropdown-content a:hover {
        background-color: rgba($secondary-color, 0.1);
      }
      
      header .navbar-fixed > .navbar {
        background-color: $primary-color;
        
        > a {
          @include color-yiq($primary-color);
        }
      }

      .tabs {
        .tab {
          a {
            color: rgba($primary-color, 0.7);

            &:focus,
            &:focus.active {
              background-color: rgba($primary-color, 0.2);
            }

            &:hover,
            &.active {
              background-color: transparent;
              color: $primary-color;
            }
          }
        }

        .indicator {
          background-color: $primary-color;
        }
      }
      
      .sidenav {
        background-color: $sidenav-bg-color;

        // .logo-container {
        //   @include color-yiq($primary-color);
        // }

        li {
          a {
            color: $primary-color;

            &:hover {
              background-color: rgba($secondary-color, 0.1);
            }
          }
        }

        li.active {
          background-color: rgba($secondary-color, 0.1) !important;

          a {
            color: $primary-color !important;

            &:hover {
              background-color: transparent;
            }
          }

          .collapsible-body {
            a:hover {
              background-color: rgba($secondary-color, 0.1);
            }

            .active {
              a {
                background-color: transparent;
              }
            }
          }
        }
      }

      .page-footer {
        a:hover {
          color: $primary-color;
        }
      }

      .paginate_button.current {
        @include color-yiq($secondary-color);
        
        background-color: $secondary-color;
      }
    }

    @each $color_name, $color in $colors {
      @each $color_type, $color_value in $color {
        @if $color_type == "base" {
          .#{$color_name} {
            background-color: $color_value !important;
          }
          .#{$color_name}-text {
            color: $color_value !important;
          }
        }
        @else if $color_name != "shades" {
          .#{$color_name}.#{$color_type} {
            background-color: $color_value !important;
          }
          .#{$color_name}-text.text-#{$color_type} {
            color: $color_value !important;
          }
        }
      }
    }
  }
}

