@import "common/variables";

@import "../../node_modules/materialize-css/sass/materialize";
@import "common/_mixins";
@import "common/global";

@import "components/login";
@import "components/datatables";
@import "components/sidenav";
@import "components/modals";

@include theme(theme-default, #303F9F, #FF4081);
@include theme(theme-teal, #009688, #CDDC39);

nav a.sidenav-trigger {
  display: block;
}

@media #{$large-and-up} {
  // styles for medium screens and larger
  nav .brand-logo {
    left: 64px;
  }
}
